<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://avinashazurefunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c7a820b9-6442-4564-9a0d-dc7d4006f80b/resourceGroups/delete-rg/providers/Microsoft.Web/sites/avinashazurefunction</ResourceId>
    <PublishUrl>https://avinashazurefunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>